<!-- Review Section -->
<div id="reviews" class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <!-- Review Section Header-->
            <div class="panel-heading clearfix">
                <h4 class="pull-left">Customer Reviews</h4>
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="myfilter={}">All</button>
                    <button type="button" class="btn btn-default" ng-click="myfilter={'review_from':'0'}">Internal</button>
                    <button type="button" class="btn btn-default" ng-click="myfilter={'review_from':'1'}">Yelp</button>
                    <button type="button" class="btn btn-default" ng-click="myfilter={'review_from':'2'}">Google</button>
                </div>
            </div>
            <div ng-controller="PaginationDemoCtrl" class="panel-body">
                <ul class="list-unstyled">
                    <li class="row" ng-repeat="review in (filteredReviews = (reviewInfo.reviews | filter: myfilter |startFrom:(bigCurrentPage-1)*10) | limitTo:10) ">
                        <!-- avatar -->
                        <div class="col-md-4">
                            <img class="text-center col-md-6" ng-src="img/{{review.rating}}.png" />
                            <h4 class="text-left clearfix col-md-6">{{review.customer_name}}</h4>

                        </div>
                        <!--ratings & date -->
                        <div class="col-md-8">
                            <p><rating ng-model="review.rating" max="5" readonly="isReadonly" on-leave="overStar = null"></rating> {{review.date_of_submission}}</p>
                            <p>{{review.description}}</p>
                        </div>
                    </li>
                </ul>

                <!-- pagination -->
                <div class="pull-right">
                    <pagination total-items="filteredReviews.length" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
                {{bigTotalItems}}
            </div>
        </div>
    </div>
</div>